<head>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <style>
    * { font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 12px; }
    h1 { font-size:large; }
    h2 { font-size:medium; }
    h3 { font-size:medium; }
    table { border-collapse: collapse; }
    body { margin: 0px; }
  </style>
  <title>STEPS 3 Verification</title>
</head>
<body>
  <div id="plot" />
  <div style="float: left; position: absolute; top: 60px; left: 15px;">
    <table>
      <tr id="sel_cmp_x"><td>
        <b>Compare</b><br/>
        <select id="sel_cmp" onchange="update_compare()">
          <option>Models</option>
          <option>Lead Times</option>
          <option>Thresholds</option>
        </select>
      </td></tr>
      <tr id="sel_nm_x"><td><b>Model</b><br/><select id="sel_nm" onchange="update_filters()"></select></td></tr>
      <tr id="sel_lt_x"><td><b>Lead Time</b><br/><select id="sel_lt" onchange="update_filters()"></select></td></tr>
      <tr id="sel_th_x"><td><b>Threshold</b><br/><select id="sel_th" onchange="update_filters()"></select></td></tr>
    </table>
  </div>
</body>
